<!DOCTYPE html>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/react/react.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <title>@ViewBag.ChelseaFC</title>
    
</head>
<body>
    <div style="background-color:blue">
        <div style="color:white">
            <div class="row">
                <div class="col-md-5">



                    <img src="~/Images/Chelsea  logo 2.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:lightblue">
        <div style="color:white">
            <nav>
                @Html.ActionLink("Home","Home","Home")
                @Html.ActionLink("Updates","Updates","Home")
                @Html.ActionLink("Gallery","Gallery","Home")
            </nav>
        </div>
    </div>
  <div style="background-color:blue">
      <div style="color:white">
          <div class="row">
              <div class="col-md-6">
                  <h1>Welcome to Chelsea Football Club fan site.</h1>
              </div>
          </div>
      </div>
  </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
